<h1>Выплаты</h1>

<form method="POST" action="">
    <table>
        <tr>
            <td>Сумма</td>
            <td>
                <input name="amount" />
            </td>
        </tr>
        <tr>
            <td>Платежные реквизиты</td>
            <td>
                <textarea name="data" cols="80" rows="20"></textarea>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Подать заявку" />
            </td>
        </tr>
    </table>
    
    
</form>