<ul>
    <li><a href="{$wa->getUrl('shop/frontend/report/')}">Отчет</a></li>
    <li><a href="{$wa->getUrl('shop/frontend/payments/')}">Выплаты</a></li>
</ul>
{if $promos}
{foreach $promos as $promo}
<div>
    <div>
        <h2>{$promo.name|escape}</h2>
    </div>
    <div>
        {if isset($promo.img)}
        <img src="{$wa_url}wa-data/public/shop/plugins/referral/promos/{$promo.img}"/>
        {/if}
    </div>
    <div>
        <p>Код для вставки:</p>
        <textarea cols="100">{$promo.code|escape}</textarea>
    </div>
</div>
{/foreach}

{else}
Список пуст
{/if}
