<link href="{$wa_url}wa-content/js/codemirror/lib/codemirror.css" type="text/css" rel="stylesheet"/>

<script type="text/javascript" src="{$wa_url}wa-content/js/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="{$wa_url}wa-content/js/codemirror/mode/xml/xml.js"></script>
<script type="text/javascript" src="{$wa_url}wa-content/js/codemirror/mode/javascript/javascript.js"></script>
<script type="text/javascript" src="{$wa_url}wa-content/js/codemirror/mode/css/css.js"></script>
<script type="text/javascript" src="{$wa_url}wa-content/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>

<style type="text/css">
    #wa .CodeMirror{
        border: 1px solid #eee;
    }
    .CodeMirror-scroll {
        height: auto;
        overflow-y: hidden;
        overflow-x: auto;
    }
</style>

<script src="{$wa_app_static_url}plugins/referral/js/vendors/jquery.ui.widget.js"></script>
<script src="{$wa_app_static_url}plugins/referral/js/vendors/jquery.iframe-transport.js"></script>
<script src="{$wa_app_static_url}plugins/referral/js/vendors/jquery.fileupload.js"></script>

<form id="form-add-promo" action="?plugin=referral&action=savePromo" method="POST">
    {$wa->csrf()}
    <input id="promo_id" type="hidden" name="promo[id]" value="{if isset($promo.id)}{$promo.id}{/if}" />

    <div class="field">
        <div class="name">Доступен</div>
        <div class="value">
            <select name="promo[enabled]">
                <option {if $promo.enabled==1}selected="selected"{/if} value="1">Да</option>
                <option {if $promo.enabled==0}selected="selected"{/if} value="0">Нет</option>
            </select>

        </div>
    </div>
    <div class="field">
        <div class="name">Название</div>
        <div class="value"><input type="text" name="promo[name]" value="{$promo.name|escape}" class="long bold" /></div>
    </div>
    <div class="field">
        <div class="name">Описание</div>
        <div class="value">
            <textarea class="html-template" name="promo[description]">{$promo.description|escape}</textarea>
            {literal}
            <p>
                {$referral_id} - код рефералла<br/>
                {$coupon_code} - код купона рефералла
            </p>
            {/literal}
        </div>
    </div>
    <div class="field">
        <div class="name">Ссылка</div>
        <div class="value"><input type="text" name="promo[url]" value="{$promo.url|escape}" class="long bold" /></div>
    </div>

    <div class="field">
        <div class="name">
            Изображение
        </div>
        <div class="value">
            <div class="preview">
                {if isset($promo.img)}
                <img src="{$wa_url}wa-data/public/shop/plugins/referral/promos/{$promo.img}"/>
                {/if}
            </div>



            <div class="block" style="overflow: hidden">
                <a class="fileinput-button" href="javascript:void(0);">
                    <i class="icon16 upload"></i>Выберите изображение<input class="fileupload" type="file" name="img"><span class="promo-result"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="name">
            Купон
        </div>
        <div class="value">
            <select name="promo[coupon_id]">
                <option value="0">Без купона</option>
                {foreach $coupons as $c}
                <option {if $c.id==$promo.coupon_id}selected="selected"{/if} value="{$c.id}">{$c.code} - {$c.hint}</option>
                {/foreach}
            </select>
            <p class="hint"><a href="?action=orders#/coupons/">Купоны на скидку</a></p>
        </div>
    </div>



    <div class="field">
        <div class="value submit">
                 <input type="submit" value="Сохранить" class="button green">
                 <span style="display:none" id="form-result">

                 </span>
             </div>
        </div>
    </form>

    <script type="text/javascript">
        $(function() {
            $("textarea.html-template").each(function() {
                CodeMirror.fromTextArea(this, {
                    mode: "text/html",
                    tabMode: "indent",
                    height: "dynamic",
                    lineWrapping: true
                });
            });
        });
    </script>
